@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* CSS reset */
/* <== ==== START ===== ==> */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}
.container {
    height: 98%;
}

/* <== ====END==== ==> */
body {
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsla(225, 100%, 94%, 1);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-summary-body {
    padding: 30px 50px 20px 50px;
}
.summary-order-component {
    width: 450px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 10px rgba(189, 174, 174, 0.1);
    border-radius: 20px;
}

.hero img {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
}


.order-text {
    width: 354px;
    justify-self: center;
    margin: 0 auto 20px;
}

.order-text h1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #1F2F56;
    padding-bottom: 20px;
}

.order-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7280A7;
}

.price-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 354px;
    background: #F5F7FF;
    border-radius: 10px;
    gap: 10px;
    padding: 20px;
    margin: 0 auto 20px;
}

.music-icon {
    width: 48px;
    height: 48px;
    justify-self: flex-start;
}

.pricing {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.pricing h1 {
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
}

.pricing p {
    line-height: 21px;
}

h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #1F2F56;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #7280A7;
}

.change {
    justify-self: flex-end;
    text-decoration: underline;
    font-weight: 900;
    color: #3829E0;
}

.actions {
    display: flex;
    flex-wrap: wrap;
}

.proceed {
    display: block;
    padding: 15px;
    background: #3829E0;
    box-shadow: 2px 6px 6px hsla(0, 0%, 35%, 0.25);
    border-radius: 12px;
    margin: 0 auto 8px;
    color: #FFFFFF;
    text-align: center;
    flex-basis: 100%;
}

.cancel {
    display: inline-block;
    padding: 15px;
    border-radius: 12px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: hsla(224, 23%, 55%, 1);
    text-align: center;
}


.proceed:hover, .proceed:focus {
    background-color: hsla(245, 83%, 68%, 1);
    cursor: pointer;
}

.change:hover {
    text-decoration: none;
    color: hsla(245, 83%, 68%, 1);
    cursor: pointer;
}

.cancel:hover, .cancel:focus {
    color: hsl(223deg 47% 23%);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
.attribution a:hover {
    cursor: pointer;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
    body {
        background-image: url('./images/pattern-background-mobile.svg');
    }
    .summary-order-component {
        width: 326px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px 10px rgba(189, 174, 174, 0.1);
        border-radius: 20px;
    }
    .order-summary-body {
        padding: 30px 36px 20px 36px;
    }
    .hero img {
        border-radius: 20px 20px 0px 0px;
        width: 326px;
        height: 100%;
    }
    .order-text {
        width: 252px;
    }
    .order-text h1 {
        font-size: 22px;
    }
    .price-wrapper {
        width: 252px;
        padding: 10px 16px;
    }
}